.hover\:bg-gray-50:hover {
  @apply transition-colors duration-200 ease-in-out;
}

button {
  @apply transition-all duration-200 ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


